*
**/*

!.gitignore
!SiteBoard/
!SiteBoard/public/
!SiteBoard/src/
!SiteBoard/src/components
!SiteBoard/src/css_dev
!SiteBoard/src/css_prod
!SiteBoard/src/data
!index.html
!*.jsx
!*.css
!*.scss
!keyData.js